<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--<img src="img/logo.png" alt="logo">-->

        <main class="container">
            <div class="container" data-aos="fade-up">

                <div class="section-title text-center" >


                  <BR>  
                  <h2>About</h2>
                  <p>My name is Dhyey Solanki, I am a passionate and diligent individual driven by a belief that success stems from unwavering determination and a love 
                    for generating new ideas. I thrive on the challenge of finding feasible solutions to broad and relevant problems. 
                    Failure is not a setback for me but rather an opportunity for growth, as I embrace the lessons learned and rise stronger than before.</p>
                </div>
        
                <div class="row">
                  <div class="col-lg-4" class="img-fluid" alt="">
                    <img src="/img/me.jpg" />
                  </div>
                  <div class="col-lg-8 pt-4 pt-lg-0 content">
                    
                    <div class="row">
                      <div class="col-lg-6">
                        <ul>
                          <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>September 25th, 2001</span></li>
                          <!-- <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li> -->
                          <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+1 437-545-5089</span></li>
                          <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Toronto, Ontario</span></li>
                        </ul>
                      </div>
                      <div class="col-lg-6">
                        <ul>
                          <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>21</span></li>
                          
                          <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                            <span>dhyeysolanki@gmail.com</span>
                          </li>
                          <!-- <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li> -->
                        </ul>
                      </div>
                    </div>
                    <p>
                      I’m a graduate of 2022 from Charotar University of Science and Technology,Anand,India
                      with a degree in Computer Science & Engineering. I am currently enrolled in Software Engineering Technology at Centennial College .I'm most passionate about giving back to the
                      community, and my goal is to pursue this passion within the field of software and hardware engineering.
                    </p>

                    <p>
                        To gain deeper insights into my professional journey, remarkable accomplishments, and unlock the PDF version of my resume effortlessly, simply click the link provided.
                         <a
                            href="/Assets/Dhyey Solanki Resume.pdf" download
                            target="_blank">Download PDF</a>.
                    </p>
                  </div>
                </div>
        
              </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>