<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>
    
    <script src="/Assets/js/main.js"></script>
        <!--<img src="img/logo.png" alt="logo">-->

        <main class="container">
            <div class="introduction">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                       
                        <h1>Dhyey Solanki</h1>
                        <div class="container">
                            <p> I'm a 
                            <div class="typed-out">Software Developer</div></div></p>
                        <br>
                        <p>Driven by my passion as a software engineer, I am committed to developing cutting-edge solutions that tackle intricate challenges and greatly enhance the quality of life for individuals.</p>
                        
                        <div class="about_me">
                            <h2>About Me</h2>
                            <p>Passion and diligence are two traits that I believe most reflect me as an individual. It is my belief that this is the key to being successful in any endeavour that one set’s their mind to. I love to generate new ideas and devise feasible solutions to broadly relevant problems.
                                 I enjoy embracing the lessons learned from failure, stand up and continue to grow. To know me better click the below link.<br>
                                 <a
                                    href="/about">About me</a></p>
                        </div>
                    </div>
                </div>
            </div>
           

        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>