<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--<img src="img/logo.png" alt="logo">-->

        <main class="container projects">
            <div class="row text-center m-2">
                <h2 style="color: #3f93ca;">Projects</h2>
                
                <br>
            </div>
            <div class="row m-3">
                <br>
                <div class="abt_me col-md-6 col-sm-6">
                    <h5>Text Scanner</h5>
                    <p>Text Scanner is a cutting-edge application that revolutionizes the way we extract text from images, making it incredibly efficient and convenient for users. Powered by the robust Firebase ML Kit, this app utilizes advanced machine learning algorithms to accurately detect and extract 
                        text from any image with remarkable precision and speed.With Text Scanner, you no longer need to manually transcribe text from images or documents.
                         Whether you have a photograph of a printed page, a screenshot of a document, or even a handwritten note, this app's intelligent technology can seamlessly recognize and convert the text into editable and searchable content.
                         In this app I used Firebase ML Kit.</p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="project1_image">
                        <img src="/img/text_scanner.png" alt="My first project" />
                    </div>
                </div>
            </div>
            <div class="row m-3">
                <br>
                <div class="col-md-6 col-sm-6">
                    <div class="project1_image">
                        <img src="/img/ccproject.jpg" alt="My second project" />
                    </div>
                </div>
                <div class="abt_me col-md-6 col-sm-6">
                    <h5>Crypto Calc</h5>
                    <p>The mobile app developed in Java, called Crypto Calc, offers a comprehensive suite of cryptography algorithms to convert plain text into cipher text. It provides users with a secure and customizable platform to encrypt their messages, ensuring confidentiality and privacy.
                        Crypto Calc offers a wide range of encryption algorithms, including popular ones like AES (Advanced Encryption Standard), RSA (Rivest-Shamir-Adleman), DES (Data Encryption Standard), and more. Each algorithm has its own unique properties and level of security, allowing users to choose the one that best suits their needs.</p>
                </div>
            </div>
            <div class="row m-3">
                <br>
                <div class="abt_me col-md-6 col-sm-6">
                    <h5>MoodTunes</h5>
                    <p>MoodTunes is an advanced and feature-rich Python application that utilizes a combination of the Haar cascade model and the Fisherface algorithm to accurately detect users' facial expressions and play music accordingly. This cutting-edge technology enables MoodTune to create a 
                        highly personalized and engaging music experience based on the user's emotional state.The Haar cascade model, a popular computer vision algorithm, serves as the foundation of MoodTunes' 
                        facial expression detection system. It employs a cascading series of classifiers to identify facial features and analyze their spatial arrangement. By training on a vast dataset of labeled facial expressions, 
                        the Haar cascade model can accurately detect specific patterns associated with different emotions.Once the user's facial expressions are detected, MoodTunes employs 
                        the Fisherface algorithm, a powerful machine learning technique, to analyze and categorize the detected emotions. </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="project1_image">
                        <img src="/img/Picture1.jpg" alt="My third project" />
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>