<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--<img src="img/logo.png" alt="logo">-->

        <main class="container contacts">
            <div class="row text-center m-2">
                <h2 style="color: #3f93ca;">Services</h2>
                
                <br>
            </div>
            <div class="row m-3">
                <br>
                <div class="col-md-12 col-sm-12 service">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="/img/appdev.jpg" alt="Mobile App Development">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Mobile App Development</h3>
                            <p>I am dedicated to transforming your app ideas into reality. Whether you need a sleek iOS app or a powerful Android application, 
                                I bring expertise and creativity to every project. From conceptualization to coding and testing, I ensure a seamless development process that results in a polished and functional app. Let's collaborate and bring your app vision to life, 
                                delivering an exceptional user experience that will leave a lasting impression.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 service">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="/img/postimage-2.jpg" alt="Web Development">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Web Development</h3>
                                <p> With a focus on user experience and modern design trends, I create custom websites that captivate visitors and drive conversions. 
                                    From front-end development to back-end programming, I offer comprehensive web development solutions tailored to your unique needs. 
                                    Get ready to stand out from the competition and make an impact with a website that represents your brand's identity flawlessly.
                                </p>
                            </div>
                        </div>
                    </div>

                    
                <div class="row">
                    <div class="col-md-12 col-sm-12 service">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="/img/gd.jpg" alt="Graphic Design">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Graphic Design</h3>
                                <p> From logo design and brand identity development to marketing materials and social media graphics, 
                                    I offer a wide range of graphic design solutions. With a blend of creativity and strategic thinking, 
                                    I ensure that your designs stand out in a crowded marketplace.
                                     Let's work together to create exceptional visuals that elevate your brand and leave a lasting impression on your audience.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 service">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="/img/uid.jpg" alt="UI Design">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>UI Design</h3>
                                <p>I create intuitive interfaces that enhance the user experience. From wireframing and prototyping to creating pixel-perfect designs, I bring your digital products to life with a keen eye for detail. 
                                    Let's collaborate to design an interface that not only looks stunning but also helps your users navigate seamlessly.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>